Repository naturerobots/HSOS-SEP-PlantMap-2022, pull requests merged in 2022-08, with the labels that each got.

#193 feat/authorization
  django/restapi/admin.py
  django/restapi/fixtures/company.json
  django/restapi/fixtures/permissions.json
  django/restapi/migrations/0001_initial.py
  django/restapi/migrations/0002_alter_coordinate_table_alter_image_table.py
  django/restapi/migrations/0002_remove_company_gardens_remove_user_companies_and_more.py
  django/restapi/migrations/0003_bed_uuid.py
  django/restapi/migrations/0004_garden_image_user_email_alter_company_name_and_more.py
  django/restapi/migrations/0005_alter_bed_options_alter_bed_table.py
  django/restapi/migrations/0006_alter_company_user_delete_user.py
  django/restapi/migrations/0007_alter_garden_image.py
  django/restapi/migrations/0008_image_alter_garden_image_coordinate.py
  django/restapi/migrations/0009_remove_garden_image_garden_image_path_and_more.py
  django/restapi/migrations/0010_remove_coordinate_image_coordinate_garden.py
  django/restapi/migrations/0011_remove_coordinate_id_alter_coordinate_name.py
  django/restapi/models.py
  django/restapi/urls.py
  django/restapi/views.py
  docs/reference/permissions.md
  mkdocs.yml
Labels: backend, api

#200 feat/authentication for register
  vue/.env.development
  vue/src/components/onboarding/OnboardingForm.vue
  vue/src/components/register/RegisterForm.vue
  vue/src/components/register/RegisterStepper.vue
  vue/src/router/index.ts
  vue/src/services/companyApi.ts
  vue/src/services/gardenApi.ts
  vue/src/services/userApi.ts
  vue/src/services/weatherDataAPI.ts
  vue/src/stores/companyStore.ts
  vue/src/stores/gardenStore.ts
  vue/src/stores/userStore.ts
  vue/src/types/company.ts
  vue/src/types/garden.ts
  vue/src/views/DashboardView.vue
  vue/src/views/OnboardingView.vue
  vue/src/views/RegisterView.vue
Labels: frontend, comp: api

#205 Update ci
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .github/workflows/mkdocs.yml
Labels: docker

#208 Update docker
  .devcontainer/Dockerfile
  .devcontainer/Dockerfile.dev
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post-create-setup.sh
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .pre-commit-config.yaml
  django/config/settings.py
  django/dockerfile
  django/requirements.txt
  django/restapi/views/bed_plants.py
  docker-compose.yml
  vue/Dockerfile
Labels: backend, docker

#211 update docker setup and add demo data
  .devcontainer/Dockerfile
  .devcontainer/Dockerfile.dev
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/post-create-setup.sh
  .github/workflows/ci.yml
  .github/workflows/docker.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  django/dockerfile
  django/requirements.txt
  django/restapi/fixtures/bed.json
  django/restapi/fixtures/company.json
  django/restapi/fixtures/coordinate.json
  django/restapi/fixtures/garden.json
  django/restapi/fixtures/permissions.json
  django/restapi/fixtures/user.json
  django/restapi/migrations/0001_initial.py
  django/restapi/migrations/0002_alter_coordinate_table.py
  django/restapi/models.py
  django/restapi/serializer.py
  django/restapi/templates/restapi/image.html
  django/restapi/tests.py
  django/restapi/util/__init__.py
  django/restapi/util/auth.py
  django/restapi/util/company_gardens.py
  django/restapi/views/auth.py
  django/restapi/views/bed_plants.py
  django/restapi/views/company_gardens.py
  django/storage/images/goeoentueuegs_ibbenbueren.png
  docker-compose.yml
  vue/Dockerfile
Labels: backend, docker

#212 feat/user dropdown
  vue/src/assets/base.css
  vue/src/components/header/ProfileDropdown.vue
  vue/src/components/login/LoginForm.vue
  vue/src/services/companyApi.ts
  vue/src/services/gardenApi.ts
  vue/src/services/userApi.ts
  vue/src/stores/companyStore.ts
  vue/src/stores/gardenStore.ts
  vue/src/stores/sensorStore.ts
  vue/src/stores/userStore.ts
  vue/src/views/SettingsView.vue
Labels: frontend, comp: api

#214 feat/widgets-api
  vue/src/components/header/widget/WidgetComp.vue
  vue/src/services/widgetApi.ts
  vue/src/stores/userStore.ts
Labels: frontend, comp: api

#215 feat/api-user-settings
  django/restapi/admin.py
  django/restapi/migrations/0003_widget.py
  django/restapi/migrations/0004_remove_widget_garden.py
  django/restapi/models.py
  django/restapi/urls.py
  django/restapi/util/auth.py
  django/restapi/util/company_gardens.py
  django/restapi/views/auth.py
  django/restapi/views/bed_plants.py
  django/restapi/views/company_gardens.py
Labels: backend, api

#216 feat/user permissions
  vue/src/services/userApi.ts
  vue/src/stores/userStore.ts
  vue/src/views/SettingsView.vue
Labels: frontend, comp: api

#217 update READMEs
  .devcontainer/.vscode/README-vscode.md
  .devcontainer/README-devcontainer.md
  README.md
Labels: type: documentation

#218 ci: include django migrations
  .devcontainer/docker-compose.yml
  .github/workflows/ci.yml
  django/config/settings.py
Labels: backend, docker

#219 update bed endpoint
  django/restapi/views/bed_plants.py
Labels: backend

#231 refactor: naming issue - plants, crops, beds
  django/restapi/views/bed_plants.py
  vue/src/components/map/CropsMap.vue
  vue/src/components/table/CropsTable.vue
  vue/src/services/bedApi.ts
  vue/src/services/cropsApi.ts
  vue/src/stores/bedStore.ts
  vue/src/stores/cropsStore.ts
  vue/src/types/beds.ts
  vue/src/types/crop.ts
  vue/src/types/crops.ts
  vue/src/views/Crops3dView.vue
  vue/src/views/CropsView.vue
Labels: frontend, comp: refactor

#223 Docs/api docs
  docs/reference/authentication.md
  docs/reference/bed-plant-endpoints.md
  docs/reference/company-garden-endpoints.md
  docs/reference/permissions.md
Labels: type: documentation

#232 Docs/install tutorials
  .devcontainer/.dockerfilelintrc
  .devcontainer/Dockerfile
  .devcontainer/Dockerfile.preview
  .devcontainer/docker-compose.preview.yml
  .dockerignore
  Makefile
  django/restapi/fixtures/widget.json
  docs/getting-started/errors.md
  docs/getting-started/installation.md
  docs/getting-started/tutorials.md
  docs/imgs/3d-tab.png
  docs/imgs/crops-tab.png
  docs/imgs/dashboard.png
  docs/imgs/docker-ghcr-login-error.png
  docs/imgs/docker-port-error.png
  docs/imgs/settings.png
  vue/package.json
  vue/public/assets/icons/3d.svg
  vue/public/assets/icons/3dBlack.svg
  vue/public/assets/icons/crops.svg
  vue/public/assets/icons/dashboard.svg
  vue/public/assets/icons/triangle_small_down_green.svg
  vue/public/assets/icons/triangle_small_down_red.svg
  vue/public/assets/icons/triangle_small_up_green.svg
  vue/public/assets/icons/triangle_small_up_red.svg
  vue/public/assets/icons/user.svg
  vue/public/assets/icons/weather/01d.svg
  vue/public/assets/icons/weather/02d.svg
  vue/public/assets/icons/weather/03d.svg
  vue/public/assets/icons/weather/04d.svg
  vue/public/assets/icons/weather/09d.svg
  vue/public/assets/icons/weather/10d.svg
  vue/public/assets/icons/weather/11d.svg
  vue/public/assets/icons/weather/13d.svg
  vue/public/assets/icons/weather/50d.svg
  vue/public/assets/img/Robot.png
  vue/public/assets/img/logo_small_color.svg
  vue/public/assets/img/logo_small_white.svg
  vue/public/assets/img/logo_with_text.svg
  vue/public/assets/marker/marker_green.svg
  vue/src/components/leaflet/LeafletRotatedComp.vue
  vue/src/components/map/CropsMap.vue
  vue/src/components/weather/WeatherComp.vue
Labels: type: documentation, frontend, docker
