Repository naturerobots/HSOS-SEP-PlantMap-2022, pull requests merged in 2022-05, with the labels that each got.

#35 feat/sidebar
  frontend/src/App.vue
  frontend/src/assets/base.css
  frontend/src/assets/img/logo_small.svg
  frontend/src/components/SidebarMenu.vue
  frontend/src/router/index.ts
  frontend/src/views/Crops3dView.vue
  frontend/src/views/CropsView.vue
  frontend/src/views/DashboardView.vue
  frontend/src/views/HomeView.vue
Labels: frontend

#39 merge dev changes into feat/login
  .github/workflows/main.yml
  frontend/src/App.vue
  frontend/src/assets/base.css
  frontend/src/assets/img/logo_small.svg
  frontend/src/components/SidebarMenu.vue
  frontend/src/router/index.ts
  frontend/src/views/Crops3dView.vue
  frontend/src/views/CropsView.vue
  frontend/src/views/DashboardView.vue
  frontend/src/views/HomeView.vue
Labels: frontend

#40 feat: basic login view with routing
  frontend/src/App.vue
  frontend/src/assets/img/logo_small_color.svg
  frontend/src/assets/img/logo_small_white.svg
  frontend/src/components/LoginForm.vue
  frontend/src/components/SidebarMenu.vue
  frontend/src/router/index.ts
  frontend/src/views/LoginView.vue
  frontend/tailwind.config.cjs
Labels: frontend

#42 feat/weather api
  frontend/package.json
  frontend/src/services/openWeatherApi.ts
  frontend/src/stores/counter.ts
  frontend/src/stores/weatherStore.ts
  frontend/src/types/weather.ts
  frontend/src/views/DashboardView.vue
  frontend/tsconfig.vitest.json
Labels: frontend

#45 feat: add NR UI Kit v1 sidebar icons
  frontend/src/assets/icons/3d.svg
  frontend/src/assets/icons/crops.svg
  frontend/src/assets/icons/dashboard.svg
  frontend/src/assets/icons/user.svg
  frontend/src/components/SidebarMenu.vue
Labels: frontend

#48 refactor build process
  .devcontainer/.vscode/settings.json
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
  .github/workflows/main.yml
  .pre-commit-config.yaml
Labels: build

#61 feat/sensor create
  vue/src/assets/icons/triangle_small_down_green.svg
  vue/src/assets/icons/triangle_small_down_red.svg
  vue/src/assets/icons/triangle_small_up_green.svg
  vue/src/assets/icons/triangle_small_up_red.svg
  vue/src/components/SensorComp.vue
  vue/src/components/SensorStatus.vue
  vue/src/views/DashboardView.vue
Labels: frontend

#62 feat/dashboard layout
  vue/src/components/SensorComp.vue
  vue/src/components/WeatherComp.vue
  vue/src/views/DashboardView.vue
Labels: frontend, comp: style

#63 feat: added sensor store + mockdata
  vue/src/assets/mocks/sensorMockData.json
  vue/src/components/SensorComp.vue
  vue/src/components/SensorStatus.vue
  vue/src/services/sensorApi.ts
  vue/src/stores/sensorStore.ts
  vue/src/stores/weatherStore.ts
  vue/src/types/sensor.ts
  vue/src/views/DashboardView.vue
Labels: frontend

#66 feat/weather-work-off-todos
  vue/src/components/SensorStatus.vue
  vue/src/components/SidebarMenu.vue
  vue/src/components/WeatherComp.vue
  vue/src/components/WeatherForecast.vue
  vue/src/services/openWeatherApi.ts
  vue/src/stores/weatherStore.ts
  vue/src/types/weather.ts
Labels: frontend, comp: refactor

#68 introduce new docker setup
  .devcontainer/Dockerfile.dev
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.dev.yml
  .devcontainer/post-create-setup.sh
  .dockerignore
  django/config/settings.py
  django/dockerfile
  django/requirements.txt
  docker-compose.yml
  vue/Dockerfile
Labels: build
