Repository naturerobots/HSOS-SEP-PlantMap-2022, pull requests merged in 2022-07, with the labels that each got.

#168 docs/env variables and modes
  .devcontainer/devcontainer.json
  .mdl_style.rb
  .pre-commit-config.yaml
  .prettierignore
  Makefile
  docs/vite-env-vars-modes.md
  mkdocs.yml
Labels: type: documentation, frontend

#160 feat/api
  .isort.cfg
  django/restapi/forms.py
  django/restapi/models.py
  django/restapi/urls.py
  django/restapi/views.py
Labels: backend, api

#177 119 create basic threejs 3d component
  vue/package-lock.json
  vue/package.json
  vue/src/components/three-scenes/CropScene.vue
  vue/src/views/Crops3dView.vue
Labels: frontend

#187 add image up- and download endpoint
  .devcontainer/Dockerfile.dev
  .gitignore
  .isort.cfg
  django/restapi/forms.py
  django/restapi/migrations/0008_image_alter_garden_image_coordinate.py
  django/restapi/migrations/0009_remove_garden_image_garden_image_path_and_more.py
  django/restapi/migrations/0010_remove_coordinate_image_coordinate_garden.py
  django/restapi/migrations/0011_remove_coordinate_id_alter_coordinate_name.py
  django/restapi/models.py
  django/restapi/urls.py
  django/restapi/views.py
  docs/getting-started/errors.md
  docs/getting-started/improvements.md
  docs/getting-started/installation.md
  docs/getting-started/license.md
  docs/getting-started/tutorials.md
  docs/home/index.md
  docs/reference/architecture.md
  docs/reference/authentication.md
  docs/reference/bed-plant-endpoints.md
  docs/reference/company-garden-endpoints.md
  docs/reference/definitions.md
  docs/reference/env-vars.md
  mkdocs.yml
Labels: backend, api

#186 add django fixtures for intial data
  Makefile
  django/restapi/fixtures/bed.json
  django/restapi/fixtures/company.json
  django/restapi/fixtures/garden.json
  django/restapi/fixtures/user.json
  django/restapi/urls.py
Labels: backend

#192 feat/weather icons
  vue/src/assets/icons/weather/01d.svg
  vue/src/assets/icons/weather/02d.svg
  vue/src/assets/icons/weather/03d.svg
  vue/src/assets/icons/weather/04d.svg
  vue/src/assets/icons/weather/09d.svg
  vue/src/assets/icons/weather/10d.svg
  vue/src/assets/icons/weather/11d.svg
  vue/src/assets/icons/weather/13d.svg
  vue/src/assets/icons/weather/50d.svg
  vue/src/components/weather/WeatherComp.vue
Labels: frontend, comp: style
